---
import Container from "../container.astro";
---

<div class="font-serif pt-50 pb-25">
  <h1 class="text-xl font-medium">Astro Frame</h1>
  <p class="text-lg text-muted-foreground">Welcome to Astro Frame.</p>
</div>
