---
import { siteConfig } from "@/config/site";
import { ThemeToggle } from "./theme-toggle";
---

<footer class="py-20 flex items-center justify-between">
  <p class="font-serif">{siteConfig.title} © 2026</p>
  <ThemeToggle client:load />
</footer>
