---
import { ArrowBigLeft, ArrowLeft } from "lucide-react";

interface Props {
  backLabel: string;
  backUrl: string;
  description: string;
  title: string;
}

const { title, description, backLabel, backUrl } = Astro.props;
---

<section class="pt-40 pb-25">
  <div class="mb-8">
    <a
      href={backUrl}
      class="text-xs font-medium text-muted-foreground inline-flex items-center gap-1"
      ><span><ArrowLeft size={12} /></span> {backLabel}</a
    >
  </div>
  <h1 class="font-medium">{title}</h1>
  <p class="text-muted-foreground">{description}</p>
</section>
